# Python
**/__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
*.manifest

# Virtual Environment
venv/
ENV/
env/
.env/
.venv

# IDE
.idea/
.vscode/
*.swp
*.swo

# Project specific
build.bat
runtime_hook.py
data_archive/
data_cache/
# Logs
*.log
*.csv

# Project specific ignores
test/
debug*
akshare
ai_robot/
*test*
.DS_Store
.akshare_stock.conf
config.toml
